@model IEnumerable<BlockChainAppMvc.Models.Coin>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "CoinsList";
    
    if (HttpContextAccessor.HttpContext.Session.GetString("token") != null)
    {
        Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    }
            else
            {
                Layout = "~/Views/Shared/_Layout.cshtml";
            }
}


<div class="container mt-2">
    <table class="table table-light  table-striped">
        <thead>

            <tr>
                <th>
                    Coin Adı
                </th>
                <th>
                    Değeri
                </th>
                <th>
                    Değişim
                </th>
                
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.coinName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.coinValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.changePerDay)
                    </td>
                </tr>
            }

        </tbody>

    </table>
</div>

