@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid bg-dark">

    <div class="jumbotron-background">
        <img src="https://cdnntr1.img.sputniknews.com/img/07e5/04/16/1044333769_36:0:2123:1174_1920x0_80_0_0_5e48c28e604e574b60958b6a2c1d7c0b.png" class="blur ">
    </div>

    <div class="container text-white">

        <h1 class="display-4">SCUBA DÜNYASINA HOŞGELDİNİZ</h1>
        <p class="lead">Dijital paraya, küresel ödemelere ve uygulamalara erişim için tek ihtiyacınız olan şey</p>
        <hr class="my-4">
        <p></p>
        <a class="btn btn-primary btn-lg" href="#go" role="button">Hakkımızda</a>

    </div>
    <!-- /.container -->


</div>

<div class="container">
    <div class="row">
        <div class="col mt-3">
            <div class="card text-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"><img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1839.png" style="width: 50px" class="card-img-top" alt="resim bulunamad覺"> BTC/TRY</div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>



        <div class="col mt-3">
            <div class="card text-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">  <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1.png" style="width: 50px" class="card-img-top" alt="resim bulunamad覺"> BTC/TRY</div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col mt-3">
            <div class="card text-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"><img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png" style="width: 50px" class="card-img-top" alt="resim bulunamad覺"> ETH/TRY</div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col mt-3">
            <div class="card text-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"><img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1975.png" style="width: 50px" class="card-img-top" alt="resim bulunamad覺"> LINK/TRY</div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>



    </div>
</div>

<br />
<hr style=" margin-top:4rem; margin-bottom:5rem; width:75%; height:1px; border-width:0; color:gray; background-color:gray" />
<br />

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>BİZ KİMİZ ?</h2>
                <h4> ##, token dünyasına açılan portalınızdır.</h4>
                <p>Teknoloji yenidir ve sürekli gelişmektedir. ## bir rehbere sahip olmanıza yardımcı olur.
                ##,gelişen bir dijital ekonomi,sizler çevrimiçi para kazanmak için cesur yeni yollar ararken sizlere eşlik eder ve çok daha fazlasını inşa ederek sizlere güvenilir bir hizmet sunar.
                Dalış yapmak istiyorsanız yapmanızı önerdiğimiz şey burada.</p>
            </div>
            <div class="col-sm-4">
                <img src="https://cdn-icons-png.flaticon.com/512/3800/3800720.png" style=" height: 150px; width: 200px" class="card-img-top" alt="resim bulunamad覺">
            </div>
        </div>
    </div>
    
    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <img src="https://cdn-icons.flaticon.com/png/512/5805/premium/5805576.png?token=exp=1640218911~hmac=8bf1b46f3e94f40cde0fc3da7539e5fd" style=" height: 250px; width: 250px" class="card-img-top" alt="resim bulunamad覺">
            </div>
            <div class="col-sm-8">
                <h2>Our Values</h2>
                <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
                <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
            </div>
        </div>
    </div>
</div>

